/* Reset : Enlève tous les styles par défaut du navigateur pour partir de zéro.*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*style pour les h2*/

h2 {
    color: red;
}

/* Style global pour TOUS les paragraphes */
p {
    line-height: 1.6;
}